DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASWORD}@postgres:5432/${POSTGRES_DBNAME}"

NODE_ENV="development"
NEXTAUTH_SECRET=""

GITHUB_ID=""
GITHUB_SECRET=""

GOOGLE_ID=""
GOOGLE_SECRET=""

LINKEDIN_ID=""
LINKEDIN_SECRET=""

TWITTER_ID=""
TWITTER_SECRET=""

TODOIST_ID=""
TODOIST_SECRET=""

BINANCE_API_KEY=""
BINANCE_API_SECRET=""
