@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

.menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  padding: 2rem;
}

.menuList {
  overflow: auto;
}

.menuItem {
  margin-top: 0.3rem;
  border-radius: 30px;
  font-size: 1.2rem;
  transition: background-color 150ms ease-in-out;

  a {
    display: block;
    padding: 0.8rem 1rem;
  }

  &:hover {
    background-color: #dfe7f3;
  }

  &.active {
    background-color: #0b5adb;
    color: #fff;
  }
}

.addNewCategory {
  justify-content: flex-start;
  width: 100%;
  margin-top: 0.3rem;
}
