@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

.menu {
    flex-grow: 1;
    overflow: hidden;
    padding: 2rem;
}

.menuItem {
    margin-top: .3rem;
    border-radius: 30px;
    transition: background-color 150ms ease-in-out;

    a {
        display: block;
        padding: .8rem 1rem;
    }

    &:hover {
        background-color: #dfe7f3;
    }
}
