@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

.userProfile {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: #0b5adb;
  color: white;
}

.logoText {
  font-family: "Cairo", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.7rem;
  color: #0b5adb;
}
