@media (max-width: 880px) {
  .products-page__search {
    min-width: 150px;
    margin-left: 2rem;
  }
}

@media (max-width: 660px) {
  .main-header {
    flex-direction: column;
  }

  .products-page__search {
    margin: 1rem 0;
  }
}
