.iconSelector {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.modalIconsWrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  border-top: 1px solid #ddd;
}

.modalIcons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.selectedIconWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  span {
    margin-right: 1rem;
  }
}

.selectedIcon {
  margin-right: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  cursor: pointer;
  border-radius: 5px;
  transition:
    transform 150ms ease-in-out,
    background-color 150ms ease-in-out;

  &:hover {
    transform: scale(1.2);
    background-color: #eee;
  }

  &.iconSelected {
    background-color: #006fee;
    color: #fff;
  }
}
