@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f6f9ff;
  font-family: "Cairo", system-ui;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: #ccc;

  svg {
    width: 80px;
    fill: #ccc;
    margin-bottom: 2rem;
  }
}

.content-item {
    flex-grow: 0;
}

.page {
  display: flex;
  height: 100%;

  &__wrapper {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    padding: 2rem;
    overflow: auto;
  }
}

.card {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__wrapper {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

    &.grid {
      grid-template-columns: repeat(auto-fit, 300px);
    }
  }

  &__headline {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e8ef;
  }

  &__headline-up {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;

    h1 {
      flex-grow: 1;
    }
  }

  &__headline-down {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  &__headline-tabs {
    overflow: hidden;
  }

  &__headline-icon {
    margin-right: 1rem;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__headline-actions {
    display: flex;
    align-items: center;
  }

  &__add-new-section {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 3rem;
    min-width: 3rem;
    margin-left: 0.5rem;
    padding: 0;
  }

  &__toggle-view {
    margin-right: 1rem;
  }
}

.button {
  &.icon-only {
    font-size: 24px;
  }
}

.text-small {
  font-size: 1.1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
