@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@mixin randomAnimation($minDuration: 1s,
    $maxDuration: 3s,
    $minDelay: 1s,
    $maxDelay: 3s) {
    animation-duration: #{random($maxDuration - $minDuration + 1) + $minDuration};
    animation-delay: #{random($maxDelay - $minDelay + 1) + $minDelay};
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: #f6f9ff;
    font-family: "Cairo", system-ui;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
}

.no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: #ccc;

    svg {
        width: 80px;
        fill: #ccc;
        margin-bottom: 2rem;
    }
}

.content-item {
    flex-grow: 0;
}

.page {
    display: flex;
    height: 100%;

    .page {
        flex-direction: column;
    }

    &__wrapper {
        height: 100%;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__content {
        display: flex;
        flex-grow: 1;
        padding: 2rem;
        overflow: auto;
    }

    &__backpack-bg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60%;
        height: 700px;
        background-image: url("/backpack-bg.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 100%;
        opacity: 0.8;
        pointer-events: none;
    }

    &__backpack-man {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 3%;
        right: 3%;
        width: 250px;
        height: 500px;
        pointer-events: none;
    }

    &__backpack-man-shadow {
        position: absolute;
        bottom: 2%;
        width: 100px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        filter: blur(0.6rem);
        opacity: 0.8;
    }

    &__backpack-man-figure {
        position: absolute;
        right: 15%;
        width: 100%;
        height: 100%;
        background-image: url("/backpack-man.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 100%;
        animation-name: float;
        @include randomAnimation(1s, 3s, 1s, 5s);
        animation-name: float;
        animation-delay: #{random(5)}s;
    }
}

.card {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

@keyframes enterFadeIn {
    0% {
        will-change: transform, opacity;
        transform: translate3d(0, -10px, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        will-change: transform, opacity;
    }
}

main {
    display: flex;
    flex-grow: 1;
    //overflow: auto;

    .content {
        padding-bottom: 1rem;
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__card {
        border: .5px solid #e1e1e1;
        box-shadow: 0 3px 3px 0px rgb(0 0 0 / 0.05);
    }

    &__subsection-items {
        display: flex;
        flex-direction: column;
        display: grid;
        grid-column-gap: .5rem;
        grid-row-gap: .5rem;

        &.grid {
            grid-template-columns: repeat(auto-fit, 300px);

            .content__subsection-item {
                width: auto;
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }

    &__subsection-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__subsection-item {
        width: 100%;
        will-change: transform, opacity;
        animation: enterFadeIn 100ms ease-in-out both;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__subsection-wrapper {
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 1rem;
        }
    }

    &__headline-subsection {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__wrapper {
        display: grid;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1rem;

        &.grid {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }

    &__headline {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #e5e8ef;
    }

    &__headline-up {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0.5rem;

        h1 {
            flex-grow: 1;
        }
    }

    &__headline-down {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    &__headline-tabs {
        display: flex;
        overflow: hidden;

        ul {
            display: flex;
        }
    }

    &__headline-tab {
        padding: .25rem .75rem;
        list-style: none;
        border-radius: 30px;
        transition: background-color 150ms ease-in-out;

        &.active {
            background-color: #006fee;
            color: #fff;

            &:hover {
                background-color: #006fee;
            }
        }

        &:hover {
            background-color: #e6e6e6;
        }
    }

    &__headline-icon {
        width: 20px;
        margin-right: .75rem;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__headline-actions {
        display: flex;
        align-items: center;
    }

    &__add-new-section {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        width: 3rem;
        min-width: 3rem;
        margin-left: 0.5rem;
        padding: 0;
    }

    &__toggle-view {
        margin-right: 1rem;
    }
}

.button {
    &.icon-only {
        font-size: 24px;
    }
}

.text-small {
    font-size: 1.1rem;
}

.content-item {
    .rounded-small {
        border-radius: 5px;
    }

    .shadow-medium {
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0.03), 0px 2px 20px 0px rgb(0 0 0 / 0.05);
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
