.sidebar {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100%;
  background-color: #f1f5ff; // #f1f6ff
  border-right: 1px solid #e4e9f1; // #e4e9f1 eaeff7
  transition: width 200ms ease-in-out;
  box-shadow: 4px 0 30px rgba(0, 0, 0, 0.05);
}

.sidebarClosed {
  width: calc(4rem + 25px);
}
